<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0-beta1" targetFramework="net47" />
  <package id="Facebook" version="7.0.10-beta" targetFramework="net47" />
  <package id="Google.Apis" version="1.27.1" targetFramework="net47" />
  <package id="Google.Apis.Auth" version="1.27.1" targetFramework="net47" />
  <package id="Google.Apis.Core" version="1.27.1" targetFramework="net47" />
  <package id="Google.Apis.Games.v1" version="1.27.1.882" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net47" />
  <package id="MaxMind.Db" version="2.2.0" targetFramework="net47" />
  <package id="MaxMind.GeoIP2" version="2.8.0" targetFramework="net47" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NLog" version="5.0.0-beta08" targetFramework="net47" />
  <package id="NLog.Config" version="4.5.0-alpha04" targetFramework="net47" />
  <package id="NLog.Schema" version="4.5.0-alpha04" targetFramework="net47" />
  <package id="NLog.StructuredEvents" version="0.4.0" targetFramework="net47" />
  <package id="SharpRaven" version="2.2.0" targetFramework="net47" />
  <package id="StackExchange.Redis" version="1.2.3" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net47" />
</packages>