<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off">
  <targets>
    <target name="infoFile" xsi:type="File" fileName="Logs\Infos.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />
    <target name="debugFile" xsi:type="File" fileName="Logs\Debugs.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />
    <target name="errorFile" xsi:type="File" fileName="Logs\Errors.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />
    <target name="fatalFile" xsi:type="File" fileName="Logs\Fatals.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />
    <target name="warningFile" xsi:type="File" fileName="Logs\Warnings.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />
    <target name="traceFile" xsi:type="File" fileName="Logs\Trace.txt" layout="[${time}][${uppercase:${level}}][${logger}]  ->  ${message}" />

    <target name="debugConsole" xsi:type="Console" layout="[${uppercase:${level}}]  ${message}" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="infoFile" enabled="true" />
    <logger name="*" level="Warn" writeTo="warningFile" enabled="false" />
    <logger name="*" level="Debug" writeTo="debugFile" enabled="true" />
    <logger name="*" level="Trace" writeTo="traceFile" enabled="false" />
    <logger name="*" level="Error" writeTo="errorFile" enabled="true" />
    <logger name="*" level="Fatal" writeTo="fatalFile" enabled="false" />
  </rules>
</nlog>