<appSettings>
  <!-- Game settings -->

  <add key="startingGems" value="999999999" />
  <add key="startingGold" value="999999999" />
  <add key="startingElixir" value="999999999" />
  <add key="startingDarkElixir" value="999999999" />
  <!-- Beware, very high values for resources will crash UCS -->
  <add key="startingTrophies" value="random" />
  <!-- User starting trophies - set to 'random' for random starting trophies -->
  <add key="startingLevel" value="1" />
  <!-- User starting XP level (Beware, 9 is the highest starting level) -->

  <!-- Maintenance settings -->

  <add key="UpdateUrl" value="http://viid.me/qtWqx6" />
  <!-- Specify where to redirect if the CoC version is outdated -->
  <add key="useCustomPatch" value="false" />
  <!-- Specify if the server is using patches (.csv, .sc, ...) -->
  <add key="patchingServer" value="" />
  <!-- Don't forget the trailing slash -->
  <add key="maintenanceTimeleft" value="0" />
  <!-- Please set the time in seconds like 1200 seconds for 20 minutes -->
  <add key="AdminMessage" value="Welcome to Clash of Magic! Visit https://www.clashofmagic.net for more info. Enjoy!"/>
  <!-- The AdminMessage will be shown in the Inbox of the Players-->
  <add key="CustomMaintenance" value=""/>
  <!-- Custom Maintenance Message -->
  <add key="ClientVersion" value="8.709"/>
  <!-- Required Client Version to connect -->

  <!-- Configure emulator -->

  <!-- Choose mysql or sqlite -->
  <add key="databaseConnectionName" value="mysql" />
  <!-- Default Crypto is Pepper -->
  <add key="use_rc4" value="true" />
  <!-- Default for no log = 0, for Full Log = 1, Log only = 2 -->
  <add key="log_level" value="0"/>

  <!-- Database configuration -->
  <add key="pwd" value="12356" />
  <add key="id" value="root" />

</appSettings>
